{% import "_/includes/macros" as render %}

{% set headerLogo = header.logo.one() %}
{% set alternateLogo = header.altLogo.one() %}
{% set altLogo = alternateLogo|length ? alternateLogo : headerLogo %}
{% set navLinks = header.navLinks.cache().all() %}

{# {% if headerNav == "navigation" %} #}
    {# Start Navbar #}
    <header class="main-menu">
        <nav class="fixed py-[11px] w-full bg-white border-b border-blue-800/25 top-0 z-50 mobile-menu-bg transition-all duration-300"
            x-data="{
                hamburger: false
            }"
        >
            <div class="px-5">
                <div class="lg:flex items-center justify-between gap-6">
                    <div class="flex items-center justify-between shrink-0 w-full lg:w-auto">
                        {% if headerLogo|length %}
                        <a href="{{ siteUrl }}" class="logo text-blue-500" aria-label="{{ siteName }}">
                            {{ render.setImage({
                                image: headerLogo,
                                alt: headerLogo.title,
                                width: 149,
                                height: 56,
                                fill: "currentColor",
                                class: "h-14 text-blue-500"
                            }) }}
                        </a>
                        {% endif %}

                        <div class="lg:hidden block">
                            <button class="w-10 h-8 relative z-30 shrink-0" aria-label="Hamburger"
                                x-on:click="hamburger = ! hamburger;isOverflowHidden = !isOverflowHidden"
                                @keydown.escape="hamburger = false"
                                :class="{'!w-10 !h-5 md:!h-[26px]' : hamburger , '' : !hamburger}"
                            >
                                <span :class="{'rotate-[45deg] translate-y-[10px] md:translate-y-[9px]' : hamburger , '' : !hamburger}" class="w-full h-1 mx-auto right-0 block bg-current absolute left-0 top-0 transition-transform"></span>
                                <span :class="{'opacity-0' : hamburger , '' : !hamburger}" class="w-full ml-0 h-1 mx-auto block bg-current my-3 transition-all"></span>
                                <span :class="{'-rotate-[45deg] -translate-y-[7px] md:-translate-y-[14px]' : hamburger , '' : !hamburger}" class="w-full h-1 mx-auto block bg-current absolute bottom-0 left-0 transition-transform"></span>
                            </button>
                        </div>
                    </div>
                    <div class="lg:block hidden">
                        <ul class="space-y-3 lg:space-y-0 lg:space-x-5 xl:space-x-10 p-5 lg:p-0 lg:!flex lg:items-center lg:mt-0 max-[991px]:overflow-auto  duration-300 ease-in-out right-0  lg:h-full w-full bg-gray-700 lg:bg-transparent fixed top-28 lg:top-0 lg:relative h-[calc(100vh-112px)]">
                            <li>
                                <div x-data="{ isOpen: false }" class="relative">
                                    {# Button to toggle the dropdown #}
                                    <button @click="isOpen = !isOpen" class="text-sm text-white font-medium capitalize flex items-center gap-1.5 hover:text-gold-500 duration-300 transition-all" aria-label="Search">
                                        <svg width="32" height="31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M23.9 12c0 5.73-4.9 10.5-11.1 10.5-6.2 0-11.1-4.77-11.1-10.5S6.6 1.5 12.8 1.5C19 1.5 23.9 6.27 23.9 12Z" stroke="#101523" stroke-width="3" />
                                            <path d="m21.2 20 9.45 9" stroke="#000" stroke-width="3" />
                                        </svg>
                                    </button>

                                    {# Search #}
                                    <div class="absolute z-50 bg-white min-w-40 rounded p-2 shadow-md right-0 top-8"
                                        x-show="isOpen"
                                        @click.away="isOpen = false"
                                        x-transition:enter="transition ease-in-out duration-150"
                                        x-transition:enter-start="opacity-0 transform -translate-y-3"
                                        x-transition:enter-end="opacity-100 transform translate-y-0"
                                        x-transition:leave="transition ease-in-in duration-150"
                                        x-transition:leave-start="opacity-100 transform translate-y-0"
                                        x-transition:leave-end="opacity-0 transform -translate-y-3"
                                        style="display: none;"
                                    >
                                        <form>
                                            <div class="relative">
                                                <input type="text" class="fotm-input pr-9 w-72 border border-gray-200/50 focus:border-crimson-500 text-sm tracking-[1px] focus:ring-transparent" placeholder="Search">
                                                <button type="submit" class="absolute right-3 leading-none top-1/2 -translate-y-1/2 hover:text-crimson-500 transition-all duration-300">
                                                    <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="24px" height="24px">
                                                        <path fill="currentColor" d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>

                            {% for node in navLinks %}
                            <li class="relative">
                                <a href="{{ node.button.getUrl() }}" class="text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300 {{ node.button.classes }}"
                                    {% if node.button.target %}target="_blank" rel="noopener"{% endif %}
                                    {% for attribute in node.button.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}
                                >
                                    <span class="cursor-pointer font-medium">
                                        {{ node.button.getText() }}
                                        {% if node.button.getText()|lower in ["read more", "see more", "learn more", "click here"] %}
                                            <span class="sr-only"> {{ "about this "|t ~ node.button.getText() }}</span>
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                            {% endfor %}

                            {% if currentUser|length %}
                                {# <li class="relative">
                                    <a href="{{ samlSpLogoutUrl(getenv('SSO_ENTITY_ID')) }}" class="text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300">
                                        <span class="cursor-pointer font-medium">
                                            {{ 'Sign Out'|t }}
                                        </span>
                                    </a>
                                </li> #}
                                <li class="relative">
                                    <a href="{{ logoutUrl }}" class="text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300">
                                        <span class="cursor-pointer font-medium">
                                            {{ 'Sign Out'|t }}
                                        </span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="relative">
                                    {# <a href="javaScript:;" class="glightbox-popup-form text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300"
                                        data-type="content"
                                        data-event="{{ header.uid }}"
                                        data-form="signin-form"
                                        data-apiForm="signin-form"
                                    >
                                        <span class="cursor-pointer font-medium">
                                            {{ 'Sign In'|t }}
                                        </span>
                                    </a> #}
                                    <a href="/sso/login/request/fb7176c8-3ab2-4789-b49b-cb11548fc0ad?RelayState={{ craft.app.request.absoluteUrl() }}" class="text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300">
                                        <span class="cursor-pointer font-medium">
                                            {{ 'Sign In'|t }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="lg:hidden block">
                        <ul class="p-5 duration-300 ease-in-out right-0 w-full bg-white fixed top-[78px] overflow-auto h-[calc(100vh-78px)]"
                            x-show="hamburger"
                            @click.outside="hamburger = false"
                            x-transition:enter="transform transition ease-in-out duration-300"
                            x-transition:enter-start="translate-x-full"
                            x-transition:enter-end="translate-x-0"
                            x-transition:leave="transform transition ease-in-out duration-300"
                            x-transition:leave-start="translate-x-0"
                            x-transition:leave-end="translate-x-full"
                            style="display: none;"
                        >
                            {% for node in navLinks %}
                            <li class="relative py-1.5 first:pt-0 last:pb-0">
                                <a href="{{ node.button.getUrl() }}" class="text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300 {{ node.button.classes }}"
                                    {% if node.button.target %}target="_blank" rel="noopener"{% endif %}
                                    {% for attribute in node.button.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}
                                >
                                    <span class="cursor-pointer font-medium">
                                        {{ node.button.getText() }}
                                        {% if node.button.getText()|lower in ["read more", "see more", "learn more", "click here"] %}
                                            <span class="sr-only"> {{ "about this "|t ~ node.button.getText() }}</span>
                                        {% endif %}
                                    </span>
                                </a>
                            </li>
                            {% endfor %}

                            {% if currentUser|length %}
                                <li class="relative">
                                    <a href="{{ logoutUrl }}" class="text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300">
                                        <span class="cursor-pointer font-medium">
                                            {{ 'Sign Out'|t }}
                                        </span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="relative py-1.5 first:pt-0 last:pb-0">
                                    <a href="javaScript:;" class="glightbox-popup-form text-lg font-medium flex justify-between lg:items-center lg:justify-center hover:!text-blue-500 transition-all duration-300"
                                        data-type="content"
                                        data-event="{{ header.uid }}"
                                        data-form="signin-form"
                                        data-apiForm="signin-form"
                                    >
                                        <span class="cursor-pointer font-medium">
                                            {{ 'Sign In'|t }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {# End Navbar #}
{# {% else %}
    <header class="main-menu">
        <nav class="py-[11px] absolute w-full top-0 z-50 mobile-menu-bg transition-all duration-300">
            <div class="flex items-center justify-between shrink-0 w-full px-5">
                {% if altLogo|length %}
                <a href="{{ siteUrl }}" class="logo text-white">
                    {{ render.setImage({
                        image: altLogo,
                        alt: altLogo.title,
                        fill: "currentColor",
                        class: "h-14"
                    }) }}
                </a>
                {% endif %}

                <div class="block">
                    <button class="w-9 h-9 flex items-center justify-center">
                        <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L35.4762 35.4762" stroke="#CFD0D3" stroke-width="3" />
                            <path d="M37.1494 2L3.67323 35.4762" stroke="#CFD0D3" stroke-width="3" />
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </header>
{% endif %} #}