{% import "_/includes/macros" as render %}
{% minify %}
<!DOCTYPE html>
{% set htmlAttrs = {
    lang: craft.app.language,
    class: 'scroll-smooth'
} %}
<html {{ attr(htmlAttrs) }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Fav Icon #}

        {% block seo %}{% endblock %}
        {# CSS #}
        <script>supportWebp = e => document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') == 0;</script>

        {# <link rel="stylesheet" href="{{ mix('css/swiper.css') }}"> #}
        <link rel="stylesheet" href="{{ mix('css/glightbox.css') }}">
        <link rel="stylesheet" href="{{ mix('css/app.css') }}">
    </head>

    {% set successNotification = successNotification ?? false %}
    {% set errorNotification = errorNotification ?? false %}
    <body class="antialiased font-inter text-base font-normal text-blue-800 overflow-x-hidden"
        x-data="{
            isOverflowHidden: false,
            timeout : null,
            hideNotification: 5000,
            pageLoaded: true,
            success: {{ successNotification|length and not errorNotification|length ? 1 : 0 }},
            error: {{ errorNotification|length ? 1 : 0 }},
            successHeading: '{{ successNotification.heading ?? '' }}',
            successText: '{{ successNotification.text ?? '' }}',
            successUrl: '{{ successNotification.url ?? '' }}',
            errorHeading: '{{ errorNotification.heading ?? '' }}',
            errorText: '{{ errorNotification.text ?? '' }}',
            errorExtraHtml: '',

            init() {
                if(this.success || this.error) {
                    this.resetTimeout();
                }
            },

            resetTimeout() {
                let _this = this;
                clearTimeout(_this.timeout)
                _this.timeout = setTimeout(function() {
                    _this.success = false;
                    _this.error = false;
                }, _this.hideNotification);
            }
        }"

        @notifysuccess="success=true,successHeading=(typeof($event.detail.heading) !== 'undefined' ? $event.detail.heading : ''),successText=(typeof($event.detail.text) !== 'undefined' ? $event.detail.text : ''),successUrl=(typeof($event.detail.url) !== 'undefined' ? $event.detail.url : ''),resetTimeout()"
        @notifyerror="error=true,nError=true,errorHeading=(typeof($event.detail.heading) !== 'undefined' ? $event.detail.heading : ''),errorText=(typeof($event.detail.text) !== 'undefined' ? $event.detail.text : ''),resetTimeout()"
        :class="{ 'overflow-hidden': isOverflowHidden }"
    >
        {#
        ============================================
            Include Header
        ============================================
        #}
        {% block header %}
            {% include "_/includes/header" %}
        {% endblock %}

        {% block content %}{% endblock %}

        {#
        ============================================
            Include Footer
        ============================================
        #}
        {% block footer %}
            {% include "_/includes/footer" %}
        {% endblock %}

        {#
        ================================================
            CP Links
        ================================================
        #}
        {% set entryId = entry.getId() ?? null %}
        {% set categoryId = category.getId() ?? null %}
        {% nocache with {entryId: entryId, categoryId: categoryId} %}
            {% include "_/includes/cp-link" %}
        {% endnocache %}

        {# Font Family #}
        <link rel="preload" as="font" href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@100..900&display=swap" onload="this.onload=null;this.rel='stylesheet'" />
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@100..900&display=swap" rel="stylesheet">
        </noscript>

        {# script #}
        {% block footerScriptBeforeApp %}{% endblock %}

        <script src="{{ mix('js/app.js') }}" defer=""></script>
        <script src="{{ mix('js/glightbox.js') }}" defer=""></script>
        {# <script src="{{ mix('js/swiper.js') }}" defer=""></script> #}

        {% block footerScriptAfterApp %}{% endblock %}

        {# {% if currentUser|length and currentUser.can('accessCp') %} #}
            <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=b0jzbj76kcohgf8t555y2w" async="true"></script>
        {# {% endif %} #}
    </body>
</html>
{% endminify %}
