{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set swiperPagination = "swiper-pagination-#{block.getId()}" %}
{% set swiperPrev = "swiper-prev-#{block.getId()}" %}
{% set swiperNext = "swiper-next-#{block.getId()}" %}

{% set settings = {
    "loop": true,
    "grabCursor": true,
    "spaceBetween": 0,
    "slidesPerView": "1",
    "pagination": {
        "el": ".#{swiperPagination}",
        "clickable": "true",
        "type": "fraction"
    },
    "navigation":{
        "nextEl":".#{swiperNext}",
        "prevEl":".#{swiperPrev}",
        "disabledClass": "opacity-50"
    }
} %}

<div class="grid grid-cols-1">
    <div class="relative select-none">
        <div class="swiper swiper-slider !pb-10" data-moduleeffectfade="1" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{{ settings|json_encode|raw }}'>
            <div class="swiper-wrapper">
                {% for item in imageContents %}
                {% set image = item.image.one() %}
                {% set videos = item.videos.all() %}
                {% set embedVideo = item.embedVideo %}
                <div class="swiper-slide" {{ imageAnimation|raw }}>
                    {% set oddEventClass = loop.index % 2 == 0 ? 'lg:flex-row-reverse flex-col' : 'lg:flex-row flex-col' %}
                    {% set oddEventPositionClass = loop.index % 2 == 0 ? 'lg:left-0' : 'lg:right-0' %}
                    <div class="flex w-full relative gap-8 {{ imagePositionLayou2 == 'oddEven' ? oddEventClass : (imagePositionLayou2 == 'right' ? 'lg:flex-row-reverse flex-col' : 'lg:flex-row flex-col') }}">
                        <div class="lg:max-w-[800px] w-full relative">
                            <div class="aspect-w-8 aspect-h-5">
                                {% set thumb = {
                                   mode: 'crop',
                                   width: 850,
                                   height: 'auto',
                                   quality: 100
                                } %}

                                {{ render.renderVideo({
                                    image: image|length ? image.getUrl(thumb),
                                    alt: image|length ? image.title,
                                    width: image|length ? image.width,
                                    height: image|length ? image.height,
                                    class: "w-full h-full object-cover",
                                    pictureClass: "w-full h-full object-cover",
                                    lazy: false,
                                    videoLazy: true,
                                    videos: videos,
                                    embedVideos: embedVideo,
                                    videoClass: "w-full h-full object-cover",
                                    extraWrapperClasses: "z-10",
                                    videoType: 'bgPopup',
                                    videoPoster: image,
                                    videoId: item.getId(),
                                    videoAttrs: {
                                        preload: "none",
                                    }
                                }) }}
                            </div>
                        </div>
                        <div class="relative lg:absolute lg:-bottom-10 lg:max-w-[452px] p-7 lg:p-16 bg-white border-2 border-blue-800 max-h-[396px] overflow-auto {{ imagePositionLayou2 == 'oddEven' ? oddEventPositionClass : (imagePositionLayou2 == 'right' ? 'lg:left-0' : 'lg:right-0') }}">
                            <div class="relative">
                                {{ render.basicContents({
                                    eyebrow: item.eyebrow,
                                    heading: item.heading,
                                    text: item.text,
                                    quote: item.quote,
                                    quoteAttribution: item.quoteAttribution,
                                    buttons: item.buttons.all(),
                                    headingTag: 'h3',
                                    headingSize: 'h3',
                                    fontWeight: fontWeight,
                                    eyebrowFontWeight: 'bold',
                                    fontFamily: '',
                                    eyebrowExtraClasses: 'tracking-widest text-lg md:text-xl',
                                    overrideParagraphFontSize: 'text-lg',
                                    backgroundColorLabel: 'white',
                                    opacity: overlayOpacity,
                                    quoteBorder: false,
                                    contentAlignment: contentSlideAlignment,
                                    animation: block.animation,
                                    contentAnimationStyle: block.animationStyle2.value|default('fade-right'),
                                    contentAnimationDuration: block.animationDuration2.value|default(1500),
                                    contentAnimationOffset: block.animationOffset2.value|default(200),
                                    contentAnimationEasing: block.animationEasing2.value|default(null)
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {# <div class="lg:block hidden !bottom-16 !absolute !left-7 !text-white !z-50 font-Baskervville text-4xl -tracking-widest {{ swiperPagination }}"></div> #}
        </div>

        {% if imageContents|length > 1 %}
        {% set arrowColor = render.foregroundColors({background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'swiper-icon'}) %}
        {% set paginationColor = render.foregroundColors({background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'swiper-pagination'}) %}
        <div class="flex items-center w-full gap-5 mt-5 min-[1280px]:mt-0">
            <div class="font-Baskervville text-4xl !z-20 !bottom-16 min-[1279px]:absolute !left-7 min-[1279px]:!text-white -tracking-widest {{ paginationColor }} {{ swiperPagination }}"></div>
            {# If we need navigation buttons #}
            <div class="flex items-center w-full justify-end gap-6">
                <div class="min-[1280px]:absolute left-0 min-[1280px]:-left-16 min-[1280px]:top-1/2 min-[1280px]:-translate-y-1/2 z-20 {{ swiperPrev }}">
                    <div class="transition-all duration-300 cursor-pointer {{ arrowColor }}">
                        <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 21.2029L23.2909 0.999998M2 21.2029L45 21.2029M2 21.2029L23.2909 42" stroke="currentColor" stroke-width="2" />
                        </svg>
                    </div>
                </div>
                <div class="min-[1280px]:absolute right-0 min-[1280px]:-right-16 min-[1280px]:top-1/2 min-[1280px]:-translate-y-1/2 z-20 {{ swiperNext }}">
                    <div class="transition-all duration-300 cursor-pointer {{ arrowColor }}">
                        <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M43 21.7971L21.7091 42M43 21.7971L3.53239e-06 21.7971M43 21.7971L21.7091 0.999998" stroke="currentColor" stroke-width="2" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% do view.registerCssFile ("#{mix('css/swiper.css')}") %}
{% do view.registerJsFile("#{mix('js/swiper.js')}") %}