{#
===============================================================================
    Container (container)

    Variables
        - Block (block)

    Fields:
     Content:
            Child:
                - Basic Content
                - Image
                - Info Box
                - Icon Cards
                - Cards
                - Stats Box
                - Image + Content
                - Two Columns

        Auxiliary:
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)

        Settings:
            - Content Width (contentWidth)
            - Container Size (containerSize)
            - Background Color (backgroundColor)
            - Overlay Opacity (overlayOpacity)
            - Content Alignment (contentAlignment)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('normal') %}
{% set contentAlignment = block.contentAlignment.value|default('center') %}
{% set contentWidth = block.contentWidth|default('0;12') %}
{% set containerSize = block.containerSize.getValue()|default('full') %}
{# {% set linearGradientColorLabel = block.linearGradientBackgroundColor.label|default('') %} #}
{% set minusMarginTop2 = block.minusMarginTop2 ?? false %}

{% set backgroundColorLabel = block.containerBackgroundColor.label|default('white') %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{# {% set gradientColor = render.color({
    handle: linearGradientColorLabel,
    swatch: minusMarginTop2 ? 'linearGradient' : 'linearGradient-2'
}) %} #}

{% set overlayOpacity = block.overlayOpacity.getValue()|default('none') %}
{% set bgOpacity = render.setOpacity({
    opacity: overlayOpacity,
    opacityType: 'bg'
}) %}

{% set buttons = block.buttons.all() %}
{% set container = block.container.all() %}
{% set marginStyle = block.marginStyle.value|default('normal') %}

{% set classes = [
    (containerSize == 'container' and contentWidth == '0;12') ? 'container',
    bgOpacity,
    spacing.implode(' ')|trim,
    containerSize == 'container' ? render.contentWidth({width: contentWidth}).__toString()|replace({ "\n": ""})|trim,
] %}

{% set attributes = collect({
    class: classes,
}) %}

<section id="{{ block.containerId|length ? block.containerId : 'block-' ~ block.getId() }}" class="{{ backgroundColor }} {{ containerSize != 'full' ? 'px-6 md:px-0' }}">
    <div {{ attr(attributes.toArray()) }}>
        <div class="container">
            <div class="grid grid-cols-1 {{ containerSize == 'full' ? render.contentWidth({width: contentWidth}).__toString()|replace({ "\n": ""})|trim }}">
                {% if block.eyebrow|length or block.heading|length or block.text|length %}
                {{ render.basicContents({
                    eyebrow: block.eyebrow,
                    heading: block.heading,
                    text: block.text,
                    headingTag: headingTag,
                    headingSize: headingTag,
                    fontWeight: fontWeight,
                    eyebrowFontWeight: 'bold',
                    fontFamily: '',
                    overrideParagraphFontSize: 'text-lg',
                    backgroundColorLabel: backgroundColorLabel,
                    opacity: overlayOpacity,
                    contentAlignment: contentAlignment,
                    animation: block.animation,
                    contentAnimationStyle: block.animationStyle.value|default('fade-up'),
                    contentAnimationDuration: block.animationDuration.value|default(1500),
                    contentAnimationOffset: block.animationOffset.value|default(200),
                    contentAnimationEasing: block.animationEasing.value|default(null)
                }) }}
                {% endif %}

                {% if container|length %}
                <div class="{{ block.eyebrow|length or block.heading|length or block.text|length ? 'mt-12' }}">
                    {% include "_partials/blocks" with {
                        pageBuilder: container,
                        parent: block.type.handle,
                        parentMarginStyle: marginStyle,
                        conbackgroundColor: backgroundColorLabel,
                        conOverlayOpacity: overlayOpacity,
                        childContainer: true,
                        firstBlockSpacing: {
                            'defaultMarginTop' : 'none',
                        },
                        lastBlockSpacing: {
                            'defaultMarginBottom' : 'none',
                        },
                    } %}
                </div>
                {% endif %}

                {% if buttons|length %}
                <div class="mt-10">
                    {{ render.basicContents({
                        buttons: buttons,
                        backgroundColorLabel: backgroundColorLabel,
                        opacity: overlayOpacity,
                        contentAlignment: contentAlignment,
                        animation: block.animation,
                        contentAnimationStyle: block.animationStyle.value|default('fade-up'),
                        contentAnimationDuration: block.animationDuration.value|default(1500),
                        contentAnimationOffset: block.animationOffset.value|default(200),
                        contentAnimationEasing: block.animationEasing.value|default(null)
                    }) }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>