{#
===============================================================================
    Featured Banner (featuredBanner)

    Variables
        - Block (block)

    Fields:
        Content:
            - Image (image)
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)

        Settings:
            - Content Width (contentWidth)
            - Background Color (backgroundColor)
            - Overlay Opacity (overlayOpacity)
            - Content Alignment (contentAlignment)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('normal') %}
{% set contentAlignment = block.contentAlignment.value|default('center') %}
{% set contentWidth = block.contentWidth|default('0;12') %}

{% set backgroundColorLabel = block.backgroundColor.label|default('white') %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set overlayOpacity = block.overlayOpacity.getValue()|default('40') %}
{% set bgOpacity = render.setOpacity({
    opacity: overlayOpacity,
    opacityType: 'bg'
}) %}

{% set image = block.image.one() %}
{% set videos = block.videos.all() %}
{% set buttons = block.buttons.all() %}

<section id="{{ block.containerId|length ? block.containerId : 'block-' ~ block.getId() }}" class="relative {{ spacing.marginTop }} {{ spacing.marginBottom }}">
    {% if image|length or videos|length %}
        {{ render.renderVideo({
            image: image|length ? image,
            alt: image|length ? image.title,
            width: image|length ? image.width,
            height: image|length ? image.height,
            class: "object-cover w-full h-full absolute inset-0",
            lazy: false,
            videoLazy: false,
            videos: videos,
            videoClass: "object-cover w-full h-full absolute inset-0",
            videoType: 'background',
            videoPoster: image,
            videoId: block.getId(),
            videoAttrs: {
                preload: "none",
            }
        }) }}
    {% endif %}
    <div class="inset-0 w-full h-full absolute {{ backgroundColor }} {{ bgOpacity }}"></div>

    {% if block.eyebrow|length or block.heading|length or block.text|length or buttons|length %}
    <div class="container relative z-10 {{ backgroundColorLabel == 'white' ? 'lg:py-28 py-16' }} {{ spacing.paddingTop }} {{ spacing.paddingBottom }}">
        <div class="{{ render.contentWidth({width: contentWidth}) }}">
            {{ render.basicContents({
                eyebrow: block.eyebrow,
                heading: block.heading,
                text: block.text,
                buttons: buttons,
                headingTag: headingTag,
                headingSize: headingTag,
                fontWeight: fontWeight,
                eyebrowFontWeight: 'bold',
                fontFamily: '',
                overrideParagraphFontSize: 'text-lg',
                backgroundColorLabel: backgroundColorLabel,
                opacity: overlayOpacity,
                changeDefaultColor: false,
                contentAlignment: contentAlignment,
                animation: block.animation,
                contentAnimationStyle: block.animationStyle.value|default('fade-up'),
                contentAnimationDuration: block.animationDuration.value|default(1500),
                contentAnimationOffset: block.animationOffset.value|default(200),
                contentAnimationEasing: block.animationEasing.value|default(null)
            }) }}
        </div>
    </div>
    {% endif %}
</section>